
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $colorFondo;
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
    color: #EEF5DB;
    font-family: 'Poppins', sans-serif;
}

.bck{
    background-color: $colorTitulos;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-brand{
    font-size: 2em;
}

ul.navbar-nav a:hover { 
    color: #FEF6C9 !important; 
}

@mixin text ($font-size, $color){
    font-size: $font-size;
    color: $color;
}

.titulo_pag{
    padding-top: 150px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    @include text(3em, $colorTitulos);
    font-weight: normal;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $colorTitulos;
    margin-bottom: 40px;
}


/* FOOTER */

.footer{
    background-color:$colorTitulos;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px; 
    text-transform: uppercase;
    line-height: 1.8;
    flex-direction: column;
    color: black;
    a{
    text-decoration: none;
    color: black;
}
}

.footer-form{
    background-color: #D4A373;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    border-bottom: $colorFondo solid 30px;
    input{
    display: block;
    width: 70%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background: #EEF5DB;
}
    button{
    width: 40%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    border-bottom: 4px solid #fff;
    background: #fff;
    font-size: 16px;
    font-weight: 400;
    color: black;
}
}

.footer-nav{
    margin-top: 30px;
    border-bottom: 2px solid $colorFondo;
    margin-bottom: 5px;
    nav{
        text-align: center;
        ul{
            display: grid;
            grid-template-columns: auto auto;
            li{
                list-style-type: none;
                padding: 5px;
            }
            a{
                &:hover{
                    color: $colorFondo;
                }
            }
        }
    }
}

.footer-contacto{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    .footer-redes{
        margin-bottom: 5px;
    }
}

.footer-icons{
    display: flex;
    align-items: center;
    img{
        margin-right: 5px;
        margin-bottom: 15px;
    }
    p{
        margin-left: 5px;
    }
}

@media all and (min-width: 768px) {
    .footer-contacto{
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 20px;
        margin: 0;
    }
    .footer-form{
        button{
        width: 30%;
        float: right;
        margin-top: -60px;
    }
        input{
        width: 60%;
    }
}

@media all and (min-width: 1024px) {
    .footer{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .footer-nav{
            border-bottom: none;
            ul{
                padding-left: 300px;
                grid-template-columns: auto;
                text-align: right;
            }
        }
        .footer-contacto{
            margin: auto;
            .footer-telefono{
                margin-left: 50px;
            }
        }
    }
}









}