.nosotros_texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 25%;
    margin-right: 25%;
    line-height: 1.8;
    margin-bottom: 70px;
}

.nosotros_texto{
        h3{
            @include text(2em, $colorTitulos);
            text-transform: uppercase;
            margin-bottom: 15px;
    }
}