.nosotros_texto{
    margin-left: 25%;
    margin-right: 25%;
    line-height: 1.8;
    margin-bottom: 70px;
}

.nosotros_texto{
        h3{
            @include text(1.5em, $colorTitulos);
            text-transform: uppercase;
            margin-bottom: 15px;
    }
}