.productos{
    padding-bottom: 50px;
    display: grid;
}

.card-productos {
    background-color: $colorCards;
    border: none;
    height: 400px;
    max-width: 275px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 1em;
    margin-bottom: 30px;
    h3{
        font-size: 15px;
    }
    button {
        border: none;
        padding: 7px;
        color: white;
        background-color: #D4A373;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 15px;
        margin: 5px;
        border-radius: 5px;
    }
}

.price {
    font-size: 20px;
}

.card-productos button:hover {
    opacity: 0.7;
}

.card-productos img{
    border-radius: 10px;
    max-width: 100%;
    transition: transform .2s;
    margin-bottom: 10px;
}

.card-productos img:hover{
    transform: scale(1.1)
}

@media all and (min-width: 320px) {
    .productos {
    grid-template-columns: repeat(1, 1fr);
    }    
}

@media all and (min-width: 768px) {
    .productos {
        grid-template-columns: repeat(2, 1fr);
    }
   
}

@media all and (min-width: 1024px) {
    .productos {
        grid-template-columns: repeat(3, 1fr);
    }
}